div {
    border: none;
    background-color: rgb(51, 51, 51);
    width: 360px;
    padding: 20px 20px;
}

p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}

.subtitle {
    color: rgb(190, 188, 188);
}