body {
    height: 3000px;
}

.item-container {
    position: relative;
    display: inline-block;
}

.item {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.discount {
    background-color: black;
    color: white;
    font-family: Arial;
    padding: 8px 16px;
    position: absolute;
    top: 10px;
    right: 0;
}

.button-container {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    height: 80px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button {
    padding: 8px 16px;
    border: 1px solid black;
}